/* ============================
   SIDEBAR MAIN WRAPPER
============================ */
.sidebar {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	max-height: 100%;
	overflow-y: auto;
	width: 100%;
	@include transition(max-width .3s);

	@include media-breakpoint-up(md) {
		max-width: 260px;
	}

	/* ============================
	   SIDEBAR BACKGROUND (UPDATED)
	============================ */
	.sidebar-bg {
		background: linear-gradient(135deg, #2575fc, #6a11cb) !important;
		color: #2575fc 0%, #6a11cb 100%;
		min-height: 100vh;
		box-shadow: 4px 0 20px rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(8px);
	}

	.nav {
		white-space: nowrap;
	}

	/* ============================
	   NAV ITEM
	============================ */
	.nav-item {
		border: $border-width solid transparent;
		margin-bottom: .2rem;

		&.active > .nav-link {
			color: #fff !important;
			background: linear-gradient(to bottom, #2575fc, #6a11cb) !important;
		}

		.nav-link {
			color: #fff !important;
			border: none !important;
			background: transparent;

			&:hover {
				background: linear-gradient(to bottom, #2575fc, #6a11cb) !important;
				color: #fff !important;
			}

			 &.active {
			 	background: linear-gradient(to bottom, #2575fc, #6a11cb) !important;
			 	color: #fff !important;
			 }
		}
	}

	.nav-link + .multi-level {
		margin-top: .2rem;
	}

	/* ICONS */
	.nav-link {
		font-size: $font-size-base;
		padding: 0.55rem 0.75rem;
		@include border-radius($border-radius);

		 .sidebar-icon {
		 	margin-right: .5rem;
		 	color: #fff !important;
		 }
	}

	.multi-level .nav-link {
		padding-left: 45px;
	}
}

/* ============================
   ACCORDION BUTTON (UPDATED)
============================ */
.sidebar-inner .accordion-button {
	background: linear-gradient(to bottom, #2575fc, #6a11cb) !important;
	color: #fff !important;
	border-radius: 8px;

	&::after {
		background-image: none;
		content: '\f054';
		font-family: $font-awesome-5;
	}
}

/* OPEN STATE */
 .sidebar-inner .accordion-button:not(.collapsed) {
 	background: linear-gradient(to bottom, #2575fc, #6a11cb) !important;
 	color: #fff !important;

 	&::after {
 		transform: rotate(90deg);
 		transition: all .2s ease;
 	}
 }

/* BODY */
.sidebar-inner .accordion-body {
	padding: .5rem 0 0 0;
}

.sidebar-heading {
	font-size: .75rem;
	text-transform: uppercase;
}

.user-card {
	border-bottom: 1px solid #2e3650;
}

@include media-breakpoint-down(sm) {
	.sidebar {
		width: 100%;
	}
}

/* CONTENT */
.content {
	overflow: visible;
	padding: 0 $spacer 0 $spacer;
	@include transition(all .3s);

	@include media-breakpoint-up(md) {
		margin-left: 260px;
	}
}