.gitignore
/admin/.env
build
/node_modules
package-lock.json
build
.eslintcache
/admin/node_modules
/admin/package-lock.json
.env
/backend/FirebaseAdminSDK.json
firebaseAdminSDK.json
/backend/config/FirebaseAdminSDK.json
/backend/config/FirebaseAdminSDK.json
backend/config/firebaseAdminSDK.json
